<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature</key>
	<data>
	mMAHTDRCRPFjhJzPgsmWW/HAMu5uIf/tw4f71aoLlauK3vogZepFfQoPAITFLj01kd6k
	BjKFgbKyvIQ/UOYY8ppG0qK7aOXR78a4xSb6FR1M5lsrb3eMNWXTq7dP8pi5ul9P3dI6
	9OZ26v6kzUTfbzxQ3GbMoweUZ4WrMHrYld0=
	</data>
	<key>CBSignature2</key>
	<data>
	P5lpUhI2x6vZ9Ts2FFg34IkhjfUG32lTapyTeVXCBkDi5mZ+dNKhTapP3tnssf0VYqU2
	w/yNT1CD40QsNsO1lfJ69oFK1/RkN7tsVPCnkGQGqMA3Og7LPJXGpaRz2OzYcmKCiVcO
	yG5ZGGgOxOuxI34QaiiEHbdoh5B4oaM+j5vKzKUd2Mtr6zZUc/DobCND0+ZXXACXene1
	XXuZwvE6lMxb2R8mBFvncNN75CSAMj0dMjPL5lX3n67ut34W+MPiuc/pcxvJ1gP3Gb3J
	Vuj7N3kKcXwubW0a1qMFR0GtonsM1AiLjE8YkYdt2+v1TN5nzvkRsshZ8CvAYrJe01SZ
	zA==
	</data>
</dict>
</plist>
