<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature</key>
	<data>
	QbB07aysVM1OhM5adM4MtkxMMkGC+zoZPW0gdH8WeMWz82cjXgVSLi18rGiZ24tJro8V
	K1uXOYyUOdiMWYtRogRXfnsBx0U+M1b7ybEP7Km/g6XpCPcvJHqbMJtHujU5MbwwWqmo
	M9huiFAbZo1c2KAfgcCe6IWgseM5oG6Qyao=
	</data>
	<key>CBSignature2</key>
	<data>
	grBxYYSnQdN1PDBtZ8X933vPTB2iARRm+kGz31xC8RFN3LuuIrqeMQuSPgs7yF3X+Ego
	fwyfhAXW+TDXRLjRYkIlxoxR+172oc2MTo96PGQ2PTgKXQ3gYm/uzIAEXSVQ9vVYg2X/
	E4JHh7BFqTmyNrx/xVYQQg/dmFwfLvDJ5V0Ngy0/jodL7q8PPxzXht7v1MXeM4Me4Yws
	h9vaE5muw29aIixEDkQYMLhI09r5ao6+qUIQhnc2lgnV7xCa2aaUeGzThBAwgEwUgABD
	XLuCm9PAC0TRMCTugp3fo4ipECgKFpAUwKEJR7UyQOvC6X3XwwK6RXzYtyPkWi55vM6p
	kw==
	</data>
	<key>PRIRawSignature</key>
	<data>
	i6L4JGFr5VP34z/VN3c2+VncXxje1GfUSMjaO5ZjmiIzckfzTnmgnXLhbdB/L1uPX0sF
	afcc593APBj4DIxyDIr24G8VB617vmsPQI/giH7qzMSE83mx7e/VfSWYvbpVgCQmnTPo
	kfmXoEQYcuy+SxeW/vUmHJx9S/qXf9sCyYE=
	</data>
	<key>PRIRawSignature2</key>
	<data>
	YRfgMTyQuzWtCvCMZ+Ydl4rz8lHDDflj1xx+LQeNLbEEbY5uTcywzuJ57XjUq6Ysiatz
	FCtP23xK0oqRcMqrudRYDOKJ6/goG3EnY6Lb35I8CHFLzRJ/GJnBf85wNffDj9AOgZLT
	femz+a/0fvzN3nylCjCsusvg8JA2aS2pfMMXfLcAfxx7szej81C+zLbTHPYQQN4ErFk6
	HkbLR6a/71FnI4yysW+Swg3I5DtfrqFeTVB8g8lNtCqlYxAt26K4zuKw+QXVobfogFsB
	FJOxLQ4mXco9Fz8VE/kXPh7d3Wo74ThgmLTaIC+XvmGeb/W60FhlxAzFc47jvumARLJi
	+g==
	</data>
</dict>
</plist>
