<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APNEditabilityTypemask</key>
	<integer>5</integer>
	<key>ASCIIFileNameRequired</key>
	<true/>
	<key>AllowEDGEEditing</key>
	<true/>
	<key>AllowFaceTimeOverCellular</key>
	<false/>
	<key>CarrierBookmarks</key>
	<array>
		<dict>
			<key>Title</key>
			<string>中国移动统一门户</string>
			<key>URL</key>
			<string>http://10086.cn/</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>MM</string>
			<key>URL</key>
			<string>http://a.10086.cn/j/ipty/</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>飞信</string>
			<key>URL</key>
			<string>http://f.10086.cn</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>和生活</string>
			<key>URL</key>
			<string>http://ios.wxcs.cn</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>和视界</string>
			<key>URL</key>
			<string>http://www.lovev.com/html5/index.jsp</string>
		</dict>
	</array>
	<key>CarrierName</key>
	<string>中国移动</string>
	<key>CheckSMSonSIM</key>
	<true/>
	<key>CustomerServicePhoneNumber</key>
	<string>10086</string>
	<key>DataIndicatorOverrideForLTE</key>
	<string>4G</string>
	<key>MMS</key>
	<dict>
		<key>GroupModeAllowUserOverride</key>
		<true/>
		<key>GroupModeEnabled</key>
		<false/>
		<key>MMSC</key>
		<string>http://mmsc.monternet.com</string>
		<key>MaxMessageSize</key>
		<integer>307200</integer>
		<key>MaxRecipients</key>
		<integer>50</integer>
		<key>Proxy</key>
		<string>10.0.0.172:80</string>
		<key>vCard21ExportModeEnabled</key>
		<true/>
	</dict>
	<key>MaxBluetoothModemConnections</key>
	<integer>5</integer>
	<key>OTASoftwareUpdate</key>
	<dict>
		<key>SoftwareUpdateOptInRequired</key>
		<true/>
	</dict>
	<key>PCForcedMinimumHBI</key>
	<integer>585</integer>
	<key>PhoneNumberRegistrationGatewayAddress</key>
	<array>
		<string>+447537410207</string>
		<string>+447537410217</string>
		<string>+447537410227</string>
		<string>+447537410237</string>
		<string>+447537410247</string>
		<string>+447537410257</string>
		<string>+447537410267</string>
		<string>+447537410277</string>
		<string>+447537410287</string>
		<string>+447537410297</string>
	</array>
	<key>RegistrationOptInRequired</key>
	<true/>
	<key>ShouldHideAllVoicemailUI</key>
	<true/>
	<key>Show3GSwitch</key>
	<false/>
	<key>Show4GSwitch</key>
	<string>Invalid</string>
	<key>ShowCallForwarded</key>
	<false/>
	<key>ShowCallForwarding</key>
	<false/>
	<key>ShowDialAssist</key>
	<true/>
	<key>ShowTTY</key>
	<false/>
	<key>StatusBarImages</key>
	<array>
		<dict>
			<key>AllowPrefixMatching</key>
			<false/>
			<key>CarrierName</key>
			<string>CHINA  MOBILE</string>
			<key>StatusBarCarrierName</key>
			<string>中国移动</string>
		</dict>
		<dict>
			<key>AllowPrefixMatching</key>
			<false/>
			<key>CarrierName</key>
			<string>CHINA MOBILE</string>
			<key>StatusBarCarrierName</key>
			<string>中国移动</string>
		</dict>
		<dict>
			<key>AllowPrefixMatching</key>
			<false/>
			<key>CarrierName</key>
			<string>China Mobile</string>
			<key>StatusBarCarrierName</key>
			<string>中国移动</string>
		</dict>
	</array>
	<key>StockSymboli</key>
	<array>
		<dict>
			<key>name</key>
			<string>China Mobile Ltd.</string>
			<key>symbol</key>
			<string>0941.HK</string>
		</dict>
	</array>
	<key>SupportedSIMs</key>
	<array>
		<string>46000</string>
		<string>46002</string>
		<string>46007</string>
		<string>46008</string>
	</array>
	<key>SupportsNITZ</key>
	<true/>
	<key>SyncSIMPhonebook</key>
	<true/>
	<key>URLifyUnquotedShorts</key>
	<true/>
	<key>VisualVoicemailServiceName</key>
	<string>none</string>
	<key>VoicemailPilotNumber</key>
	<string></string>
	<key>apns</key>
	<array>
		<dict>
			<key>configuration</key>
			<array>
				<dict>
					<key>apn</key>
					<string>cmnet</string>
					<key>password</key>
					<string></string>
					<key>type-mask</key>
					<integer>49</integer>
					<key>username</key>
					<string></string>
				</dict>
				<dict>
					<key>apn</key>
					<string>cmwap</string>
					<key>password</key>
					<string></string>
					<key>type-mask</key>
					<integer>4</integer>
					<key>username</key>
					<string></string>
				</dict>
				<dict>
					<key>apn</key>
					<string></string>
					<key>password</key>
					<string></string>
					<key>type-mask</key>
					<integer>0</integer>
					<key>username</key>
					<string></string>
				</dict>
				<dict>
					<key>apn</key>
					<string>cmnet</string>
					<key>password</key>
					<string></string>
					<key>type-mask</key>
					<integer>48</integer>
					<key>username</key>
					<string></string>
				</dict>
			</array>
			<key>technology-mask</key>
			<integer>9</integer>
		</dict>
	</array>
	<key>e_only_whitelist</key>
	<array>
		<string>08</string>
		<string>000</string>
		<string>110</string>
		<string>112</string>
		<string>118</string>
		<string>119</string>
		<string>120</string>
		<string>122</string>
		<string>911</string>
		<string>999</string>
	</array>
	<key>signature</key>
	<data>
	PoUS2G7Ofs4YiLqe6GCpHSrtxWgkqwDrGqrRui/G4NkugmU3MRMAFi4MuZTpKBkRNKpN
	8RxfTWknvBExhnYNJ7OjYbix6vC7DwfMEGxUJUKwoHxgiSfRdwkPmdR/oW/qzK2aVBrs
	xA/aQg2x+aB+xKRlbNPdC060Cqsu/RBtGxI=
	</data>
</dict>
</plist>
