<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowEDGEEditing</key>
	<false/>
	<key>AllowFaceTimeOverCellular</key>
	<true/>
	<key>AttachAPN</key>
	<dict>
		<key>3GPP</key>
		<dict>
			<key>AllowedProtocolMask</key>
			<integer>1</integer>
			<key>PcscfAddressRequired</key>
			<false/>
		</dict>
	</dict>
	<key>Enable4GByDefault</key>
	<true/>
	<key>PRIFileName</key>
	<string>overrides_N49_N53.pri</string>
	<key>PRIRawSignature</key>
	<data>
	P4QgSQgK3kx7qu0J9ve110yWzHe8w2XIXB1VdciDQOkslAi6jZ7HAoMo/bcC8pBeQiiJ
	poSaUcRg6cAI5618CoJ4CnlKkxNkeWg8LfPdK6QuRJba5BuU0hhvruRkRkW7t/66cnUv
	8JHG6wCkSb9353UPBSVfEfPvp+P5gLMqhN8=
	</data>
	<key>PRISignature</key>
	<data>
	Xnm0+A3NuNzrPXXitkcMBJhTKbc6gCXsVh1Tpu/czR4tdTLv/Xr3OruYLIdOd9fvqjtd
	jOmi282kUZN+BwbboAIb5BcGqdPl4dUrcDLXzKTn52wT9XrDtx1J38Qv8M14c8a8PoA5
	F6kkN95aEYEBoNYi0yNrAsEiuBuhSaNhbLc=
	</data>
	<key>PriVersion</key>
	<string>0.1.162</string>
	<key>Show4GSwitch</key>
	<true/>
	<key>ShowLTEWarningUnsupportedCarrier</key>
	<false/>
</dict>
</plist>
